<div class="center jumbotron">
    <% if user_signed_in? %>
      <div class="row">
        <aside class="col-md-4">
          <%= form_for(@memo) do |f| %>
            <div class="form-group">
              <%= f.text_area :content, class: 'form-control', rows: 5 %>
            </div>
            <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
          <% end %>
        </aside>
        <div class="col-xs-8">
          <%= render 'layouts/memos', memos: @memos %>
        </div>
      </div>
    <% else %>
      <h1>Welcome to MemoMemo まだログインしてないよ</h1>
    <% end %>
</div>