<div class="col-xs-8">
  <%= render 'layouts/memos', memos: @memos %>
</div>

<%= form_tag(searches_path, :method => :get) do %>
<%= select_tag :name, options_for_select(@users_name) %>

<p>日付: <input type="text" data-date-format='yyyy-mm-dd' name="date" data-provide='datepicker' ></p>
<%= submit_tag("検索") %>
<% end %>



<!--ここでフォーマットを指定したれや-->
